body {
    background-image: url(https://img.freepik.com/fotos-premium/banner-com-uma-bela-mulher-negra-retrato-feminino-de-uma-jovem-afro-americana-com-um-rosto-bonito_972324-69742.jpg?semt=ais_hybrid);
    background-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;

}

.box {}



header {
    
    background-size: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    
}

.caixa {
    background-color: rgb(246, 201, 85);
    padding: 20px;
    border-radius: 20px
}

footer {
    background-color: coral;
    padding: 20px;
    border-radius: 20px
}

.footer-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.footer-section h4 {

    margin-bottom: 15px;
    font-size: 18;
    color: rgb(0, 0, 0);

}

.footer-section p,
.footer-section ul {
    margin: 0;
    padding: 0;
    line-height: 1.6;

}

.footer-section ul {

    list-style-type: none;
    text-decoration: none;

}

.footer-section ul li {

    margin-bottom: 10px;

}

.container {
    display: flex;

    align-items: center;

    justify-content: flex-start;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: cornflowerblue;
    /* Cor ao passar o mouse (laranja claro, por exemplo) */
}


.padding {
    padding: 96px;
}

p {
    font-size: 25px;
}



@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap')